@use '../../components/details';

.hero {
    min-height: 100vh;
    background: url(assets/images/hero-background@2x.jpg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        background-color: var(--color-dark);
        max-width: 330px;
        max-height: 330px;
        aspect-ratio: 1 / 1;
        width: 100%;
        margin: 0 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        @include details.frame();
    }

    &__branding {
        $margin: 1.5rem;

        margin: $margin 0 0 0;

        @include details.separator(center, $margin);
    }
}