:root {
  --section-gap: 8rem;
  --section-gap-inner: calc( var(--section-gap) * 0.75 );
  --gap-xl: 4rem;
  --gap-l: 3rem;
  --gap-m: 2rem;
  --gap-s: 1rem;
  --border-radius: 0px;
  --color-dark: hsl(0, 0%, 7%);
  --color-dark-200:hsl(0, 0%, 17%);
  --color-dark-300:hsl(0, 0%, 27%);
  --color-dark-500:hsl(0, 0%, 37%);
  --color-dark-600:hsl(0, 0%, 44%);
  --color-dark-700:hsl(0, 0%, 57%);
  --color-dark-800:hsl(0, 0%, 67%);
  --color-dark-900:hsl(0, 0%, 77%);
  --color-accent: hsl(42, 42%, 75%);
  --color-accent-200: hsl(42, 42%, 78%);
  --color-accent-300: hsl(42, 42%, 81%);
  --color-accent-400: hsl(42, 42%, 84%);
  --color-accent-500: hsl(42, 42%, 87%);
  --color-accent-600: hsl(42, 42%, 90%);
  --color-accent-700: hsl(42, 42%, 93%);
  --color-accent-800: hsl(45, 32%, 93%);
  --color-accent-900: hsl(45, 22%, 96%);
  --color-light: hsl(0, 0%, 100%);
  --color-light-200: hsl(0, 0%, 90%);
  --color-light-300: hsl(0, 0%, 80%);
  --color-light-400: hsl(0, 0%, 70%);
  --color-light-500: hsl(0, 0%, 60%);
  --color-light-600: hsl(0, 0%, 50%);
  --color-light-700: hsl(0, 0%, 40%);
  --color-light-800: hsl(0, 0%, 30%);
  --color-light-900: hsl(0, 0%, 20%);
  --font-sans: "futura-pt", sans-serif;
  --font-serif: "questa-grande", serif;
  --line-height: 1.5;
  --font-scale: 1.25;
  --font-size: 1rem;
  --font-size-1: var(--font-size);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
  --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
  --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
  --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
  --font-size-6: calc( var(--font-size-5) * var(--font-scale) );
  --page-width: 72rem;
  --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(32px, 1fr) [full-end];
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: var(--font-sans);
  font-size: var(--font-size-2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-dark);
  font-weight: 500;
}

h1 {
  font-size: var(--font-size-6);
}

h2 {
  font-size: var(--font-size-5);
}

h3 {
  font-size: var(--font-size-4);
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p {
  line-height: var(--line-height);
  color: var(--color-dark-600);
}

a {
  color: var(--color-dark);
  text-decoration: none;
}
a:hover {
  color: var(--color-accent);
}

li {
  line-height: var(--line-height);
  color: var(--color-dark-600);
}

.site-header {
  position: fixed;
  z-index: 99;
  height: 100px;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 32px;
}
.site-header__content {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}
.site-header__button {
  background-color: transparent;
  color: var(--color-accent);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-dark-300);
  border-radius: 0;
  font-size: var(--font-size-2);
  font-family: var(--font-serif);
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}
.site-header__button:hover {
  background-color: var(--color-accent);
  color: var(--color-dark-300);
}

.menu-button {
  height: 26px;
  width: 26px;
  position: relative;
  background: none;
  padding: 0;
  border: 0;
  border-radius: 0;
}
.menu-button:focus .menu-button__hamburger, .menu-button--close .menu-button__hamburger {
  transition: transform 0.2s 0.2s;
  transform: rotate(45deg) translate(-50%, -50%);
}
.menu-button:focus .menu-button__hamburger::before, .menu-button--close .menu-button__hamburger::before {
  transition: top 0.2s, transform 0.2s 0.2s;
  transform: rotate(90deg);
  top: 0;
}
.menu-button:focus .menu-button__hamburger::after, .menu-button--close .menu-button__hamburger::after {
  transition: width 0.2s;
  width: 0;
}
.menu-button__hamburger {
  transform-origin: left top;
  position: absolute;
  height: 1px;
  width: 100%;
  top: 50%;
  left: 50%;
  transition: transform 0.2s;
  transform: translate(-50%, -50%) rotate(0);
  background-color: var(--color-accent);
}
.menu-button__hamburger::before, .menu-button__hamburger::after {
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  height: 1px;
  width: 100%;
  background-color: inherit;
}
.menu-button__hamburger::before {
  transition: top 0.2s 0.2s, transform 0.2s;
}
.menu-button__hamburger::after {
  top: 8px;
  width: 70%;
  transition: width 0.2s 0.2s;
}

.hero {
  min-height: 100vh;
  background: url(assets/images/hero-background@2x.jpg) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__content {
  background-color: var(--color-dark);
  max-width: 330px;
  max-height: 330px;
  aspect-ratio: 1/1;
  width: 100%;
  margin: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero__content::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid var(--color-accent);
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  opacity: 0.34;
}
.hero__branding {
  margin: 1.5rem 0 0 0;
}
.hero__branding::after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-accent);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin: 1.5rem auto;
}

.about {
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: var(--section-gap) 0;
}
.about__inner {
  grid-column: inner;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-l);
  padding: 0 var(--gap-l);
  align-items: center;
}
.about__image {
  margin: 0;
  position: relative;
}
.about__image img {
  display: block;
  position: relative;
  z-index: 1;
}
.about__image .black-box {
  right: calc(var(--gap-l) * -1);
  bottom: calc(var(--gap-l) * -1);
}
.about__title {
  margin-top: 0;
}
.about__title::after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-accent);
  margin-top: var(--gap-m);
  margin-bottom: var(--gap-m);
}
.about__excerpt p {
  margin: 0;
}
.about__excerpt p + p {
  margin-top: 1rem;
}
.about__footer {
  margin-top: var(--gap-l);
}
.about__buttons {
  display: flex;
  gap: var(--gap-m);
}
.about__button {
  background-color: transparent;
  color: var(--color-dark);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-dark-900);
  border-radius: 0;
  font-size: var(--font-size-2);
  font-family: var(--font-serif);
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}
.about__button:hover {
  background-color: var(--color-accent-700);
  color: var(--color-dark-300);
}

.black-box {
  position: relative;
  background-color: var(--color-dark);
  width: 333px;
  height: 333px;
  position: absolute;
}
.black-box::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid var(--color-accent);
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  opacity: 0.34;
}

.food-menu {
  background-color: var(--color-accent-800);
  display: grid;
  grid-template-columns: var(--grid-container);
  padding: var(--section-gap) 0;
}
.food-menu__inner {
  position: relative;
  grid-column: inner;
  background-color: var(--color-light);
  text-align: center;
  padding: var(--section-gap) 2rem;
}
.food-menu__inner::after {
  content: "";
  position: absolute;
  display: block;
  border: 1px solid var(--color-dark);
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  opacity: 0.34;
}
.food-menu__content {
  position: relative;
  z-index: 2;
  max-width: 30rem;
  margin: 0 auto;
}
.food-menu__title {
  margin-top: 0;
}
.food-menu__title::after {
  content: "";
  display: block;
  height: 2px;
  width: 64px;
  background-color: var(--color-accent);
  margin-top: var(--gap-m);
  margin-bottom: var(--gap-m);
  margin: var(--gap-m) auto;
}
.food-menu__courses p:first-of-type {
  margin-bottom: var(--gap-xl);
}
.food-menu__courses p:last-of-type {
  font-family: var(--font-serif);
  font-style: italic;
}
.food-menu__course {
  margin: var(--gap-m) 0;
}
.food-menu__course::after {
  content: url("assets/icons/icon-divider.svg");
  display: block;
  margin-top: var(--gap-s);
}
.food-menu__footer {
  margin-top: var(--gap-xl);
}
.food-menu__button {
  background-color: transparent;
  color: var(--color-dark);
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-dark-900);
  border-radius: 0;
  font-size: var(--font-size-2);
  font-family: var(--font-serif);
  font-weight: 400;
  display: inline-block;
  text-decoration: none;
}
.food-menu__button:hover {
  background-color: var(--color-accent-700);
  color: var(--color-dark-300);
}

/*# sourceMappingURL=style.css.map */
