@mixin default(
    $background: transparent, 
    $color: var(--color-dark), 
    $hover-background: var(--color-accent), 
    $hover-color: var(--color-dark-300),
    $border-color: var(--color-dark-300)
    ) {
    background-color: $background;
    color: $color;
    padding: 0.5rem 1.5rem;
    border: 1px solid $border-color;
    border-radius: 0;
    font-size: var(--font-size-2);
    font-family: var(--font-serif);
    font-weight: 400;
    display: inline-block;
    text-decoration: none;

    &:hover {
        background-color: $hover-background;
        color: $hover-color;
    }

}