:root {

    --section-gap: 8rem;
    --section-gap-inner: calc( var(--section-gap) * 0.75 );

    --gap-xl: 4rem;
    --gap-l: 3rem;
    --gap-m: 2rem;
    --gap-s: 1rem;

    --border-radius: 0px;

    --color-dark: hsl(0, 0%, 7%); // #111111
    --color-dark-200:hsl(0, 0%, 17%);
    --color-dark-300:hsl(0, 0%, 27%);
    --color-dark-500:hsl(0, 0%, 37%);
    --color-dark-600:hsl(0, 0%, 44%); // #707070
    --color-dark-700:hsl(0, 0%, 57%);
    --color-dark-800:hsl(0, 0%, 67%); // #AAAAAA
    --color-dark-900:hsl(0, 0%, 77%);
    --color-dark-1000:hsl(0, 0%, 94%);

    --color-accent: hsl(42, 42%, 75%); // #DBCBA6
    --color-accent-200: hsl(42, 42%, 78%);
    --color-accent-300: hsl(42, 42%, 81%);
    --color-accent-400: hsl(42, 42%, 84%);
    --color-accent-500: hsl(42, 42%, 87%);
    --color-accent-600: hsl(42, 42%, 90%);
    --color-accent-700: hsl(42, 42%, 93%);
    --color-accent-800: hsl(45, 32%, 93%); // #F2EFE6
    --color-accent-900: hsl(45, 22%, 96%); // #F8F7F4

    --color-light: hsl(0, 0%, 100%);
    --color-light-200: hsl(0, 0%, 90%);
    --color-light-300: hsl(0, 0%, 80%);
    --color-light-400: hsl(0, 0%, 70%);
    --color-light-500: hsl(0, 0%, 60%);
    --color-light-600: hsl(0, 0%, 50%);
    --color-light-700: hsl(0, 0%, 40%);
    --color-light-800: hsl(0, 0%, 30%);
    --color-light-900: hsl(0, 0%, 20%);

    --font-sans: 'futura-pt', sans-serif;
    --font-serif: 'questa-grande', serif;

    --line-height: 1.5;

    --font-scale: 1.25;
    --font-size: 1rem;

    --font-size-1: var(--font-size);
    --font-size-2: calc( var(--font-size-1) * var(--font-scale) );
    --font-size-3: calc( var(--font-size-2) * var(--font-scale) );
    --font-size-4: calc( var(--font-size-3) * var(--font-scale) );
    --font-size-5: calc( var(--font-size-4) * var(--font-scale) );
    --font-size-6: calc( var(--font-size-5) * var(--font-scale) );

    --page-width: 72rem;
    --grid-container: [full-start] minmax(32px, 1fr) [inner-start] minmax(0, var(--page-width)) [inner-end] minmax(32px, 1fr) [full-end];
}