@use '../components/details';
@use '../utilities/responsive';

.site-footer {
    @include details.frame;
    background-color: var(--color-dark);
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: var(--section-gap) 0 var(--gap-l) 0;

    &__inner {
        grid-column: inner;
        position: relative;
        z-index: 1;
    }

    &__content {
        margin-bottom: var(--section-gap-inner);
        text-align: center;

        p {
            color: var(--color-light);

            &:first-of-type {
                @include details.separator-dots();
            }
        }
    }

    &__branding {
        @include details.separator($align: center);
    }

    &__copyright {
        color: var(--color-dark-500);
        text-align: center;
    }

    // 640px (40rem)
    @include responsive.max(40rem) {
        padding-left: var(--gap-m);
        padding-right: var(--gap-m);

        &__copyright {
            font-size: 0.85rem;
        }
    }

}

#map {
    width: 100%;
    height: 400px;
    background-image: url(assets/images/map@2x.png);
    background-size: cover;
    background-position: center;
}